services:
  app:
    build: .
    command: ["npm", "start"]
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: nastya_rest
      POSTGRES_USER: nastya
      POSTGRES_PASSWORD: nastya
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
